.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-animation: play 5s step-end;
  animation: play 5s step-end;
}

@keyframes play {
  0% {background:white;}
  25%   {background:#fffe02;}
  50%  {background:#ff0bff;}
  75%  {background:#02ffff;}
  100%  {background:black;}
}

@keyframes playText{
  0% {opacity:1;}
  25%   {opacity:0.75;}
  50%  {opacity:0.5;}
  75%  {opacity:0.6;}
  100%  {filter: invert();}
}

.logo{
  max-height:100px;
  max-width: 200px;
  -webkit-animation: playText 5s step-end;
  animation: playText 5s step-end;
}

